!!! 5
html
  head
    title Auth0 Example Application
    link(type='text/css', rel='stylesheet', href='/css/site.css')
  body
    header
      h1
        | Auth0 Example Application
    .main
      section
        h2 intro
        p This is an example application for the Auth0 platform.
        if user
          p hello 
            strong #{user.name}
            | . 
          p It seems that you logged in using 
            strong #{user.provider}
            |.
          p 
            a(href='/logout') logout
        else
          p Login using one of these connections
          ul 
          for connection in connections
            li 
              a(href='/login?using=' + connection) #{connection}
      
      section
        h2 create a connection
        p You can use auth0 API to create new connections.
        p Try to create an Google OAuth2 connection here:

        form(method='post', action='/connections')
          input(type='text', placeholder='name', name='name')
          input(type='text', placeholder='client id', name='client_id')
          input(type='text', placeholder='client secret', name='client_secret')

          input(type='submit')