!!! 5
html
  head
    title Auth0 Example Application
    link(type='text/css', rel='stylesheet', href='/css/site.css')
  body
    header
      h1
        | Auth0 Example Application
    .main
      section
        h2 intro
        p This is an example application for the Auth0 platform.
        if user
          p hello 
            strong #{user.name}
            | . 
          p It seems that you logged in using 
            strong #{user.provider}
            |.
          p 
            a(href='/logout') logout
        else
          p Login using one of these connections
          ul 
          for connection in connections
            li 
              a(href='/login?using=' + connection) #{connection}