!!! 5
html
  head
    title Auth0 Example Application
    link(type='text/css', rel='stylesheet', href='/css/site.css')
  body
    header
      h1
        | Auth0 Example Application
    .main
      section
        h2 auth0 sample application!
        p This is an example application for the Auth0 platform.
        p Login:

        a.auth0-button(href='https://' + domain + '/login?client=' + clientId) Sign In with Auth0
        script(src='https://sdk.auth0.com/auth0.js#client=' + clientId + '&redirect_uri=' + callbackUrl)