!!! 5
html
  head
    title Auth0 Example Application
    link(type='text/css', rel='stylesheet', href='/css/site.css')
  body
    header
      h1
        | Auth0 Example Application
    .main
      section
        h2 intro
        p This is an example application for the Auth0 platform.
        if user
          p hello #{user.nickname}. 
          p It seems that you logged in using #{user.provider}
          p 
            a(href='/logout') logout
        else
          p click here to login 
            a(href='/login') login